.container-fluid {
    padding: 0;
    
}

/*   Navbar  */


.navbar {
    border: 1px solid #33383b;
    background-color: #33383b;
    margin-bottom: 20px;
}
.collapse {
    background-color: #33383b;
}
.navbar-toggler{
    background-color: #e0ac1c ;
}

.navbar-nav {
    margin: auto;

}

#Change:hover, #ToDo{
    color: #e0ac1c;
    font: normal 36px 'Cookie', cursive;
    text-decoration: none;
}
.navbar-brand {
   font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    
    color : #e0ac1c;
    letter-spacing: 1px;
    margin-right: 20px;
}

/*   Botão adicionar   */

#add-link {
    text-decoration: none;
}


.add-div {
    background-color: #33383b;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.add-div:hover {
    background-color: #e0ac1c;
}
.fas.fa-plus {
    color: #fff;
    margin-left: 5px;
    margin-right: 10px;
}

/*   Search  */
.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 10px;
/*    color: #e0ac1c;  */
}

.search-div {
    cursor: pointer;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}


/*    LIsta de tarefas    */

.alert{
    background-color: #e0ac1c;
    color: #fff;
    border:1px solid #e0ac1c;
}

.form-control{
    border: 1px solid ;

}
.form-control:focus{
    border-color: inherit;
    border: 2.5px solid #e0ac1c;
    box-shadow: none;

}

a{
    color: #33383b;
}

.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;

}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc
}

.fas.fa-trash, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: #db1e47;
}


.fas.fa-edit {
    color: #33383b;
}
/*  rodapé     */
 
footer{
	position: fixed;
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
}
 
 
.footer-distributed{
	background-color: #33383b;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 20px 50px 0px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 5px 10px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;
}
 
 
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.footer-distributed .footer-center i{
    margin-left: 0;
}

/*  messages  */


ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}

/*  pagination   */


.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
    
}

#arrow {
    color: #e0ac1c;
}

/*  View task  */

.task-title {
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 80px;
}

.task-content {
    border: 1px solid;
    height: 400px;
}

.task-content p {
    margin-left: 20px;
    margin-top: 15px;
}

.task-description{
    font-weight: bold;
    font-size: 28px;
}


/*  View edit  */


.btn, .btnsucess {
    background-color: #33383b;
    border: 1px solid #33383b;
}

.btn:hover,  .btn-sucess:focus, #btn-change:focus{

    background-color: #e0ac1c;
    border: 1px solid #e0ac1c;
    box-shadow: none;
}

/*    Login     */

.auth-card {
    margin-bottom: 30px;
    background-color: #333333;
    color: #fff;
}

#login-div {
    
    margin-top: 110px; 
    
}

.card-title{
    font-size: 25px;
    align-items: center; 
    
}
#login-btn {
    background-color: #fff;
    width: 50%;
    color: #33383b;
    font-weight: bold;
    margin-left: 25%;

}

#login-btn:hover, #login-btn:focus{
    background-color: #e0ac1c;
}