{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Adicione tarefas {% endblock %}


{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Adicione uma nova tarefa</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input  id="btn-change" type="submit" value="Criar tarefa" class="btn btn-success">
        <button id="btn-change"  type="button" class="btn btn-success" onclick="{window.location.href='http://192.168.1.8:8000/'}">Voltar</button>
    </form>   
</div>

{% endblock %}